@charset "utf-8";
.text-ellipsis {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.clearfix:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
.icon_oven {
  display: inline-block;
  vertical-align: middle;
  width: 1rem;
  height: 1rem;
  border-radius: 100%;
}
.icon_oven.icon_oven_operater {
  background: url(../images/icon_oven_operater.png) center center no-repeat #00b4e6;
  background-size:100% 100%;
  background-size:1rem 1rem;
}
.icon_oven.icon_oven_1 {
  background: url(../images/icon_oven_1.png) center center no-repeat #ffffff;
  background-size:100% 100%;
  background-size:1rem 1rem;
}
.icon_oven.icon_oven_2 {
  background: url(../images/icon_oven_2.png) center center  no-repeat #ffffff;
  background-size:100% 100%;
   background-size:1rem 1rem;
}
.icon_oven.icon_oven_3 {
  background: url(../images/icon_oven_3.png) center center  no-repeat #ffffff;
  background-size:100% 100%;
   background-size:1rem 1rem;
}
.icon_oven.icon_oven_4 {
  background: url(../images/icon_oven_4.png) center center  no-repeat #ffffff;
  background-size:100% 100%;
   background-size:1rem 1rem;
}
.icon_oven.icon_oven_5 {
  background: url(../images/icon_oven_5.png) center center  no-repeat #ffffff;
  background-size:100% 100%;
   background-size:1rem 1rem;
}
.icon_oven.icon_oven_6 {
  background: url(../images/icon_oven_6.png) center center  no-repeat #ffffff;
  background-size:100% 100%;
   background-size:1rem 1rem;
}
.icon_oven.icon_oven_1.active {
  background: url(../images/icon_oven_1_active.png) center center no-repeat #00b4e6;
  background-size:100% 100%;
   background-size:1rem 1rem;
}
.icon_oven.icon_oven_2.active {
  background: url(../images/icon_oven_2_active.png) center center no-repeat #00b4e6;
  background-size:100% 100%;
   background-size:1rem 1rem;
}
.icon_oven.icon_oven_3.active {
  background: url(../images/icon_oven_3_active.png) center center no-repeat #00b4e6;
  background-size:100% 100%;
   background-size:1rem 1rem;
}
.icon_oven.icon_oven_4.active {
  background: url(../images/icon_oven_4_active.png) center center no-repeat #00b4e6;
  background-size:100% 100%;
   background-size:1rem 1rem;
}
.icon_oven.icon_oven_5.active {
  background: url(../images/icon_oven_5_active.png) center center no-repeat #00b4e6;
  background-size:100% 100%;
   background-size:1rem 1rem;
}
.icon_oven.icon_oven_6.active {
  background: url(../images/icon_oven_6_active.png) center center no-repeat #00b4e6;
  background-size:100% 100%;
   background-size:1rem 1rem;
}
.icon_oven.icon_oven_carve {
  background: url(../images/icon_oven_carve.png) center center no-repeat #00b4e6;
  background-size:100% 100%;
   background-size:1rem 1rem;
}
.icon_oven.icon_oven_recipes {
  background: url(../images/icon_oven_recipes.png) center center no-repeat #00b4e6;
  background-size:100% 100%;
   background-size:1rem 1rem;
}
.pop {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 99999;
}
.pop .icon_close {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
.pop .pop_operate_list {
  position: relative;
  width: 7.2037037rem;
  height: auto;
  background: #fff;
  margin: 30% auto;
  border-radius: 0.07407407rem;
  padding: 0rem 0.33333333rem;
  z-index: 100001;
}
.pop .pop_operate_list a.item {
  display: block;
  border-bottom: 1px solid #c8c7cc;
  padding: 0.27777778rem 0rem;
}
.pop .pop_operate_list a.item .text {
  display: inline-block;
  vertical-align: middle;
  width: 5.18518519rem;
  margin-left: 0.18518519rem;
}
.pop .pop_operate_list a.item .text .title {
  color: #333;
  font-size: 0.44444444rem;
  margin-bottom: 0.14814815rem;
}
.pop .pop_operate_list a.item .text .intro {
  color: #8c8c8c;
  font-size: 0.33333333rem;
}
.public_header {
  position: relative;
  height: 1.33333333rem;
  line-height: 1.33333333rem;
  text-align: center;
  color: #fff;
  background: #00b4e6;
  font-size: 0.5rem;
}
.public_header .return_back {
  position: absolute;
  top: 0;
  left: 0.33333333rem;
  display: block;
  width: 0.24074074rem;
  height: 1.33333333rem;
  background: url(../images/icon_return_back.png) center center no-repeat;
  background-size:100% 100%;
  background-size:0.24074074rem 1.33333333rem;
}
.public_header .icon_oven_time {
  position: absolute;
  top: 0.33333333rem;
  right: 0.33333333rem;
  display: block;
  width: 0.55555556rem;
  height: 0.55555556rem;
  background: url(../images/icon_oven_time.png) center center no-repeat;
  background-size:100% 100%;
  background-size:0.55555556rem 0.55555556rem;
}
.public_header .text_left,
.public_header .text_right {
  color: #fff;
  position: absolute;
  top: 0;
  font-size: 0.44444444rem;
}
.public_header .text_left {
  left: 0.33333333rem;
}
.public_header .text_right {
  right: 0.33333333rem;
}
ul.recipes_list {
  background: #fff;
  padding-left: 0.33333333rem;
}
ul.recipes_list li {
  height: 2.03703704rem;
  padding: 0.27777778rem 0.33333333rem 0.27777778rem 0rem;
}
ul.recipes_list li + li {
  border-top: 1px solid #c8c7cc;
}
ul.recipes_list li a {
  display: block;
}
ul.recipes_list li .img {
  float: left;
  width: 2.03703704rem;
  height: 1.48148148rem;
  border-radius: 0.07407407rem;
  overflow: hidden;
}
ul.recipes_list li .img img {
  display: block;
  width: 2.03703704rem;
  height: 1.48148148rem;
}
ul.recipes_list li .text {
  margin-left: 2.5rem;
}
ul.recipes_list li .text .title {
  color: #333;
  font-size: 0.44444444rem;
  margin-bottom: 0.07407407rem;
}
ul.recipes_list li .text .intro {
  color: #8c8c8c;
  font-size: 0.33333333rem;
  line-height: 0.42592593rem;
}
.oven_header_section {
  position: relative;
  /*height: 7.01851852rem;*/
  height: 5.53703704rem;
  background: url(../images/oven_bg.jpg) center center no-repeat;
  
  background-size:9rem 7.01851852rem;
  background-size:100% 100%;
}
.oven_header_section.progress {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  -ms-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
  background: none;
}
.oven_header_section.progress .text_progress {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  font-size: 0.444rem;
  text-align: center;
  color: #666;
}
.oven_header_section .control_section {
  padding-top: 0.27777778rem;
}
.oven_header_section .control_section .lighter_left {
  float: left;
  left: 0.7037037rem;
}
.oven_header_section .control_section .lighter_right {
  float: right;
  right: 0.7037037rem;
}
.oven_header_section .control_section .lighter_left,
.oven_header_section .control_section .lighter_right {
  position: absolute;
  top: 41%;
}
.oven_header_section .control_section .lighter_left span,
.oven_header_section .control_section .lighter_right span {
  display: block;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
}
.oven_header_section .control_section .lighter_left span.icon_lighter,
.oven_header_section .control_section .lighter_right span.icon_lighter {
  background: url(../images/icon_lighter.png) center center no-repeat #ffffff;
  background-size:100% 100%;
  background-size:1renm 1rem;
}
.oven_header_section .control_section .lighter_left span.icon_status,
.oven_header_section .control_section .lighter_right span.icon_status {
  background: url(../images/icon_stop.png) center center no-repeat #ffffff;
  background-size:100% 100%;
  background-size:1renm 1rem;
}
.oven_header_section .control_section .lighter_left span.icon_lighter.active,
.oven_header_section .control_section .lighter_right span.icon_lighter.active {
  background: url(../images/icon_lighter_active.png) center center no-repeat #00b4e6;
  background-size:100% 100%;
  background-size:1renm 1rem;
}
.oven_header_section .control_section .lighter_left span.icon_status.active,
.oven_header_section .control_section .lighter_right span.icon_status.active {
  background: url(../images/icon_stop_active.png) center center no-repeat #00b4e6;
  background-size:100% 100%;
  background-size:1renm 1rem;
}
.oven_header_section .control_section .lighter_left p,
.oven_header_section .control_section .lighter_right p {
  text-align: center;
  color: #fff;
  font-size: 0.33333333rem;
  line-height: 0.66666667rem;
}
.oven_header_section .control_section .center {
  position: relative;
  margin: 0 auto;
}
.oven_header_section .control_section .center .circle {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 5rem;
  height: 5rem;
  margin-left: -2.5rem;
  border-width: 0.11111111rem;
  border-style: solid;
  border-color: #d7d7d7;
  border-radius: 50%;
}
.oven_header_section .control_section .center .circle .pie_left,
.oven_header_section .control_section .center .circle .pie_right {
  position: absolute;
  left: 0;
  top: 0;
  width: 5rem;
  height: 5rem;
}
.oven_header_section .control_section .center .circle .icon_circle {
  position: absolute;
  top: -0.11111111rem;
  left: 2.37037037rem;
  width: 0.03703704rem;
  height: 2.5rem;
  background: transparent;
  -ms-transform-origin: 0rem 2.5rem;
  /* IE 9 */
  -webkit-transform-origin: 0rem 2.5rem;
  /* Safari and Chrome */
  z-index: 999;
}
.oven_header_section .control_section .center .circle .icon_circle:before {
  content: " ";
  position: absolute;
  right: -0.18518519rem;
  top: -0.18518519rem;
  width: 0.42592593rem;
  height: 0.42592593rem;
  border-radius: 50%;
  background: #99e1f5;
}
.oven_header_section .control_section .center .circle .left,
.oven_header_section .control_section .center .circle .right {
  position: absolute;
  left: -0.11111111rem;
  top: -0.11111111rem;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  border-width: 0.11111111rem;
  border-style: solid;
  border-color: #61d461;
}
.oven_header_section .control_section .center .circle .right {
  clip: rect(0rem, 5rem, 5rem, 2.5rem);
}
.oven_header_section .control_section .center .circle .left {
  clip: rect(0rem, 2.5rem, 5rem, 0rem);
}
.oven_header_section .control_section .center .circle .mask {
  position: relative;
  width: 4.14814815rem;
  height: 4.14814815rem;
  text-align: center;
  background: rgba(255, 255, 255, 0.51);
  margin: 0.31481481rem;
  padding-top: 1.01851852rem;
  border-radius: 50%;
  z-index: 1001;
}
.oven_header_section .control_section .center .circle .mask .icon_state {
  display: block;
  width: 1.11111111rem;
  height: 1.27777778rem;
  background: url(../images/icon_center_stop.png) center center no-repeat;
  background-size:100% 100%;
  background-size:1.11111111rem 1.27777778rem;
  
  margin: 0 auto;
}
.oven_header_section .control_section .center .circle .mask .icon_state.active {
  background: url(../images/icon_center_begin.png) center center no-repeat;
  background-size:100% 100%;
  background-size:1.11111111rem 1.27777778rem;
}
.oven_header_section .control_section .center .circle .mask .text {
  color: #61d461;
  height: 0.55555556rem;
  line-height: 0.55555556rem;
}
.oven_header_section .control_section .center .circle .mask .time {
  display: block;
  width: 2.16666667rem;
  height: 0.7037037rem;
  line-height: 0.7037037rem;
  text-align: center;
  background: #61d461;
  color: #fff;
  font-size: 0.5rem;
  margin: 0.18518519rem auto;
  border-radius: 0.35185185rem;
}
.oven_header_section .control_section .center .circle .mask .img_oven {
  display: block;
  width: 50%;
  height: auto;
  margin-top: 0.46296296rem;
  margin-left: auto;
  margin-right: auto;
}
/*
.oven_header_section .header_bottom {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1.48148148rem;
  background: rgba(255, 255, 255, 0.6);
  padding: 0.22222222rem 0.33333333rem;
}
.oven_header_section .header_bottom .icon_oven {
  float: left;
}
.oven_header_section .header_bottom .text {
  margin-left: 1.2962963rem;
  line-height: 0.5rem;
}
.oven_header_section .header_bottom .text .title {
  font-size: 0.44444444rem;
  margin-top: 0.05555556rem;
  color: #333;
}
.oven_header_section .header_bottom .text .type {
  font-size: 0.33333333rem;
  color: #ed2b33;
}
.oven_header_section .header_bottom .btn_oven {
  display: block;
  width: 2.22222222rem;
  height: 0.66666667rem;
  line-height: 0.62962963rem;
  text-align: center;
  position: absolute;
  top: 0.40740741rem;
  right: 0.33333333rem;
  border: 0.01851852rem solid #00b4e6;
  color: #00b4e6;
  background: transparent;
  -webkit-border-radius: 0.07407407rem;
  -moz-border-radius: 0.07407407rem;
  -ms-border-radius: 0.07407407rem;
  -o-border-radius: 0.07407407rem;
  border-radius: 0.07407407rem;
}
*/
.swiper_section {
  background: #e7e6e6;
}
.swiper_section.white {
  background: #fff;
}
.swiper_section header {
  color: #333;
  text-align: center;
  font-size: 0.44444444rem;
  line-height: 0.74074074rem;
}
.swiper_section header.header_bg {
  text-align: left;
  padding-left: 0.33333333rem;
  line-height: 1.16666667rem;
  margin-bottom: 0.27777778rem;
  background: #e7e6e6;
}
.swiper_section header.header_bg + .swiper-container {
  padding-bottom: 0.22222222rem;
}
.swiper_section header.header_bg + .swiper-container .icon_oven {
  border: 1px solid #8c8c8c;
}
.swiper_section .swiper-container .swiper-slide {
  text-align: center;
}
.swiper_section .swiper-container p {
  color: #8c8c8c;
  font-size: 0.27777778rem;
  line-height: 0.55555556rem;
}
.select_temp_section {
  background: #fff;
}
.select_temp_section .header {
  overflow: hidden;
  border-bottom: 1px solid #c8c7cc;
}
.select_temp_section .header div {
  width: 33.3333%;
  float: left;
  height: 1.16666667rem;
  line-height: 1.16666667rem;
  text-align: center;
  color: #00b4e6;
  font-size: 0.44444444rem;
}
.select_temp_section .header_bg {
  color: #333;
  font-size: 0.44444444rem;
  text-align: left;
  padding-left: 0.33333333rem;
  line-height: 1.16666667rem;
  background: #e7e6e6;
}
.select_temp_section .content {
  position: relative;
  height: 5.83333333rem;
  line-height: 1.16666667rem;
  overflow: hidden;
  -webkit-mask: -webkit-gradient(linear, 0% 40%, 0% 0%, from(#debb47), to(rgba(36, 142, 36, 0)));
  -webkit-mask: -webkit-linear-gradient(bottom, #debb47 50%, rgba(36, 142, 36, 0));
}
.select_temp_section .content .swiper-container {
  -webkit-mask: -webkit-gradient(linear, 0% 50%, 0% 100%, from(#debb47), to(rgba(36, 142, 36, 0)));
  -webkit-mask: -webkit-linear-gradient(top, #debb47 50%, rgba(36, 142, 36, 0));
  position: relative;
  width: 33.3333%;
  height: 5.83333333rem;
  float: left;
  overflow: auto;
  font-size: 0.37037037rem;
}
.select_temp_section .content .swiper-container .swiper-slide {
  text-align: center;
}
.select_temp_section .content:before {
  position: absolute;
  content: " ";
  top: 2.33333333rem;
  left: 0;
  width: 100%;
  height: 1.16666667rem;
  border-top: 1px solid #c8c7cc;
  border-bottom: 1px solid #c8c7cc;
}
.recipes_detail {
  font-size: 0.33333333rem;
}
.recipes_detail > header {
  overflow: hidden;
  line-height: 1.16666667rem;
  height: 1.16666667rem;
  font-size: 0.37037037rem;
  padding-left: 0.33333333rem;
}
.recipes_detail > header p {
  width: 50%;
  color: #999;
  float: left;
}
.recipes_detail > header p span {
  color: #444;
  margin-left: 0.27777778rem;
}
.recipes_detail .section {
  padding-left: 0.33333333rem;
  background: #fff;
}
.recipes_detail .section + .section {
  margin-top: 0.27777778rem;
}
.recipes_detail .section header {
  line-height: 1.16666667rem;
  height: 1.16666667rem;
  font-size: 0.37037037rem;
}
.recipes_detail .section .content {
  padding-bottom: 0.27777778rem;
}
.recipes_detail .section ul.needs {
  border-top: 1px solid #c8c7cc;
  padding-left: 0.33333333rem;
}
.recipes_detail .section ul.needs li {
  line-height: 1.16666667rem;
  height: 1.16666667rem;
  padding-right: 0.33333333rem;
}
.recipes_detail .section ul.needs li span {
  float: right;
}
.recipes_detail .section ul.needs li + li {
  border-top: 1px solid #c8c7cc;
}
.recipes_detail .section ul.steps ol {
  padding-right: 0.33333333rem;
  min-height: 1.94444444rem;
  max-height: 19.44444444rem;
}
.recipes_detail .section ul.steps ol .img {
  display: block;
  width: 1.38888889rem;
  height: 1.38888889rem;
  border-radius: 0.07407407rem;
  float: right;
}
.recipes_detail .section ul.steps ol p {
  margin-right: 1.66666667rem;
}
.recipes_detail .section > p {
  max-height: 46.2962963rem;
  line-height: 0.46296296rem;
}
.link_section {
  margin-top: 1.01851852rem;
  margin-bottom: 1.01851852rem;
}
.link_section .line {
  height: 1.2037037rem;
  line-height: 1.2037037rem;
  font-size: 0.44444444rem;
  padding-left: 0.33333333rem;
  padding-right: 0.33333333rem;
  background: #fff;
}
.link_section .line .a_link {
  display: block;
  color: #333;
  background: url(../images/jt_gray.png) right center no-repeat;
  background-size:100% 100%;
  background-size: 0.55555556rem 0.55555556rem;
}
.link_section .line .a_link .text_right {
  float: right;
  color: #8c8c8c;
  padding-right: 0.55555556rem;
  font-size: 0.33333333rem;
}
.link_section .line + .line {
  border-top: 1px solid #c8c7cc;
}
.link_section .line .checkbox_switch {
  float: right;
  margin-top: 0.33333333rem;
}
.form_line_all {
  display: none;
  position: relative;
  height: 1.2037037rem;
  padding: 0.33333333rem;
  background: #fff;
  margin-top: 0.37037037rem;
}
.form_line_all input {
  display: block;
  width: 100%;
  height: 0.53703704rem;
  line-height: 0.53703704rem;
  font-size: 0.33333333rem;
}
.form_line_all .icon_clear {
  display: none;
  position: absolute;
  right: 0.33333333rem;
  top: 0.37037037rem;
  width: 0.46296296rem;
  height: 0.46296296rem;
  background: url(../images/ic_delete.png) center center no-repeat;
  
  background-size:100% 100%;
  background-size: 0.46296296rem 0.46296296rem;
  z-index: 999;
}
.layui-m-layercont .form_line_all {
  display: block;
  padding: 0.13888889rem;
  margin: -0.55555556rem 0rem;
}
.layui-m-layercont .form_line_all input {
  height: 0.92592593rem;
  padding: 0.19444444rem;
  border: 1px solid #c8c7cc;
  border-radius: 0.07407407rem;
  box-sizing: border-box;
}
.layui-m-layercont .form_line_all .icon_clear {
  display: none;
  position: absolute;
  right: 0.33333333rem;
  top: 0.37037037rem;
  width: 0.46296296rem;
  height: 0.46296296rem;
  background: url(../images/ic_delete.png) center center no-repeat;
  background-size:100% 100%;
  background-size: 0.46296296rem 0.46296296rem;
  z-index: 999;
}
.checkbox_switch {
  position: relative;
  width: 1rem;
  height: 0.59259259rem;
  overflow: hidden;
}
.checkbox_switch input[type="checkbox"],
.checkbox_switch input[type="radio"] {
  visibility: hidden;
}
.checkbox_switch label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 1rem;
  height: 0.59259259rem;
  background: url(../images/off.png) center center no-repeat;
  background-size:100% 100%;
  background-size:1rem 0.59259259rem;
  
}
.checkbox_switch input[type=checkbox]:checked + label,
.checkbox_switch input[type=radio]:checked + label {
  background: url(../images/on.png) center center no-repeat;
  background-size:100% 100%;
  background-size:1rem 0.59259259rem;
}
.btn_theme {
  display: block;
  color: #fff;
  background: #00b4e6;
  border-radius: 0.07407407rem;
  text-align: center;
}
.btn_theme.btn_theme_long {
  width: 100%;
  height: 1.01851852rem;
  line-height: 1.01851852rem;
  font-size: 0.51851852rem;
}
.loadCarvePage .addCarve {
  padding: 0.55555556rem 0.77777778rem;
  background: #efefef;
}
ul.carve_list {
  background: #fff;
  width: 100%;
  overflow: hidden;
}
ul.carve_list li {
  position: relative;
  left: 0;
  height: 2.59259259rem;
}
ul.carve_list li + li .text {
  border-top: 1px solid #c8c7cc;
}
ul.carve_list li a {
  display: inline-block;
  float: left;
}
ul.carve_list li .img {
  float: left;
  width: 2.03703704rem;
  height: 2.03703704rem;
  border-radius: 0.07407407rem;
  overflow: hidden;
  margin: 0.27777778rem;
}
ul.carve_list li .img img {
  display: block;
  width: 2.03703704rem;
  height: 2.03703704rem;
}
ul.carve_list li .text {
  margin-left: 2.59259259rem;
  padding: 0.27777778rem 0rem;
  height: 2.59259259rem;
}
ul.carve_list li .text .title {
  color: #333;
  font-size: 0.44444444rem;
  line-height: 0.77777778rem;
}
ul.carve_list li .text .intro {
  color: #8c8c8c;
  font-size: 0.33333333rem;
  line-height: 0.61111111rem;
  overflow: hidden;
}
ul.carve_list li .text .intro .item {
  float: left;
}
ul.carve_list li .text .intro .item:first-child span {
  padding-right: 0.18518519rem;
}
ul.carve_list li .text .intro .item:first-child + .item {
  margin-left: 0.37037037rem;
}
ul.carve_list li .text .intro .item:first-child + .item span {
  padding-left: 0.18518519rem;
}
ul.carve_list li .text .intro .item span {
  color: #333;
}
ul.carve_list li .text .time {
  color: #8c8c8c;
  font-size: 0.33333333rem;
  line-height: 0.61111111rem;
}
ul.carve_list .operation {
  float: left;
  width: 4.07407407rem;
  height: 2.59259259rem;
}
ul.carve_list .operation a {
  display: block;
  float: right;
  width: 2.03703704rem;
  height: 2.59259259rem;
}
ul.carve_list .operation a.del {
  background: url(../images/icon_delete.png) center center no-repeat #00b4e6;
  background-size:100% 100%;
  background-size:2.03703704rem 2.59259259rem;
}
ul.carve_list .operation a.edit {
  background: url(../images/icon_edit.png) center center no-repeat #cdcdcd;
  background-size:100% 100%;
  background-size:2.03703704rem 2.59259259rem;
}
.carveListPage {
  position: relative;
  height: 100%;
  overflow: hidden;
}
.carveListPage .add_link {
  padding-top: 0.7037037rem;
}
.carveListPage .add_link .icon_more {
  display: block;
  width: 1.66666667rem;
  height: 1.66666667rem;
  border-radius: 50%;
  background: url(../images/ic_more.png) center center no-repeat #00b4e6;
  background-size: 80% 80%;
  background-size:1.3333rem 1.3333rem;
  margin: 0 auto;
}
.carveListPage .list {
  position: absolute;
  top: 3.7037037rem;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
}
.carveListPage .list .item {
  position: relative;
}
.carveListPage .list .item .text_left {
  position: absolute;
  right: 60%;
  top: 0;
  text-align: right;
  padding-top: 0.14814815rem;
  line-height: 1.18518519rem;
}
.carveListPage .list .item .text_left .icon_clock {
  display: inline-block;
  vertical-align: middle;
  width: 0.53703704rem;
  height: 0.5rem;
  margin-top: -0.03703704rem;
  margin-right: 0.09259259rem;
  background: url(../images/ic_laud.png) center center no-repeat;
  background-size:0.53703704rem 0.5rem;
}
.carveListPage .list .item .icons {
  display: block;
  width: 1.48148148rem;
  height: 1.48148148rem;
  border-radius: 50%;
  background: #fff;
  margin: 0.74074074rem auto;
}
.carveListPage .list .item .icons:before {
  content: " ";
  position: absolute;
  top: -0.74074074rem;
  left: 50%;
  width: 1px;
  height: 0.74074074rem;
  background: #c8c7cc;
}
.carveListPage .list .item .icons img {
  display: block;
  width: 100%;
  height: auto;
}
.carveListPage .list .item .text_right {
  position: absolute;
  left: 60%;
  top: 0;
  text-align: left;
  padding-top: 0.14814815rem;
}
.carveListPage .list .item .text_right p {
  line-height: 0.59259259rem;
}
.loading_section {
  position: fixed;
  top: 35%;
  /*left: 35%;*/
   width: 100%;
   /*height: 50%;*/
  -ms-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(0%, 0%);
  /*border:1px solid #00F;*/
  /*margin: 0 auto;*/
}
.loading_section .loading {
  width: 3.09259259rem;
  height: 3.09259259rem;
  background: url(../images/loading.png) center center no-repeat;
  background-size:3.09259259rem 3.09259259rem;
  background-size:100% 100%;
  animation: rotateY 1.5s linear infinite;
  -webkit-animation: rotateY 1.5s linear infinite;
  /* Safari and Chrome */
}
.loading_section .img {
  position: absolute;
  top: 0.37037037rem;
  left: 50%;
  -ms-transform: translate(-50%, 0);		/* IE 9 */
  -moz-transform: translate(-50%, 0);		/* Firefox */
  -o-transform: translate(-50%, 0);			/* Opera */
  -webkit-transform: translate(-50%, 0);	/* Safari 和 Chrome */
  transform: translate(-50%, 0%);
  width: 2.31481481rem;
  height: 2.31481481rem;
  border-radius: 100%;
  background: #fff;
  padding-top: 0.78703704rem;
  box-shadow: 0 0 0.1rem rgba(0, 0, 0, 0.05);
  /*border:1px solid #F00;*/
  margin: 0 auto;
}
.loading_section .img img {
  display: block;
  width: 50%;
  height: auto;
  margin: 0 auto;
}
.loading_section .text_progress {
  margin-top: 0.46296296rem;
}
@keyframes rotateY {
  from {
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -webkit-transform: rotate(0deg);
    /* Safari and Chrome */
  }
  to {
    transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    /* IE 9 */
    -webkit-transform: rotate(360deg);
    /* Safari and Chrome */
  }
}
@-webkit-keyframes rotateY {
  from {
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -webkit-transform: rotate(0deg);
    /* Safari and Chrome */
  }
  to {
    transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    /* IE 9 */
    -webkit-transform: rotate(360deg);
    /* Safari and Chrome */
  }
}
